/* Copy and paste any or all of these css entries into your custom.css file inside your
 * css folder. The functions are annotated to make things as easy as possible for you.
 * Use any colors you want! For example - "http://htmlcolorcodes.com/color-picker/"
 * Pick your color, copy and paste the HEX number. Example - #62FF00 = bright green.
 */

.MMM-PrometheusAlerts {
  font-family: "Roboto Condensed", sans-serif;
  color: #ffffff; /* Color the ID #. Default is white. */
  font-size: 16px; /* Adjust to your liking, line by line */
}

.MMM-PrometheusAlerts .header {
  color: #aaa; /* Color the title text. Default is white. */
  font-size: 20px;
  font-weight: 700;
}

.MMM-PrometheusAlerts .state-none {
  color: #008000;
}

.MMM-PrometheusAlerts .state-pending {
  color: #ffa500;
}

.MMM-PrometheusAlerts .state-firing {
  color: #ff0000;
}

.prom-alert-wrapper {
  border-bottom: 0.5px solid #666;
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.prom-alert-wrapper:last-child {
  border: none;
}

/* Left flex content */
.prom-alert-wrapper .status-wrapper {
  font-size: 50px;
  max-width: 50px;
  display: flex;
  line-height: 1;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  flex-basis: 20%;
}

.prom-alert-wrapper .status-wrapper .fa {
  font-size: 40px;
}

/* Right flex content */
.prom-alert-wrapper .data-wrapper {
  text-align: left;
  margin-left: 15px;
  overflow: hidden;
}
